<div class="card">
  <div class="card-body">
    <div class="row justify-content-center align-items-center bg-primary">
      <div class="col-md-9">
        <h2 class='header text-center'>Add New Exam</h2>
      </div>
    </div>

    <%= render 'form', exam: @exam %>

    <%= link_to 'Back', teacher_index_path_path, class: 'btn btn-success', style: 'margin-top: 20px;' %>
  </div>
</div>
